# Dependency directories
node_modules/

# Build output
dist/
build/
out/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Logs
*.log

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Git files
*.orig

# Misc
.DS_Store

#Personal files
ideate.txt
